<div class="container">
  <main class="calculator">
    <div class="result-container">
      <input
        class="result-container__result"
        type="text"
        id="result"
        name="result"
        [value]="display"
      />
    </div>
    <div class="buttons">
      <div class="buttons__row-container">
        <div class="buttons__numbers">
          <div class="buttons__row buttons__row--first">
            <button class="buttons__button buttons__button--bigger" (click)="limpar()">C</button>
            <button class="buttons__button" (click)="adicionarNumero('0')">0</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button" (click)="adicionarNumero('1')">1</button>
            <button class="buttons__button" (click)="adicionarNumero('2')">2</button>
            <button class="buttons__button" (click)="adicionarNumero('3')">3</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button" (click)="adicionarNumero('4')">4</button>
            <button class="buttons__button" (click)="adicionarNumero('5')">5</button>
            <button class="buttons__button" (click)="adicionarNumero('6')">6</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button" (click)="adicionarNumero('7')">7</button>
            <button class="buttons__button" (click)="adicionarNumero('8')">8</button>
            <button class="buttons__button" (click)="adicionarNumero('9')">9</button>
          </div>
        </div>
        <div class="buttons__column">
          <button class="buttons__button" (click)="definirOperacao('/')">/</button>
          <button class="buttons__button" (click)="definirOperacao('*')">*</button>
          <button class="buttons__button" (click)="definirOperacao('+')">+</button>
          <button class="buttons__button" (click)="definirOperacao('-')">-</button>
        </div>
      </div>
      <button class="buttons__button" (click)="calcular()">=</button>
    </div>
  </main>
  <span class="container__copyright"> Copyright © feito por mim ❤️</span>
</div>
