<div class="container">
  <form class="form">
    <div class="result-container">
      <input
        class="result-container__result"
        type="text"
        id="result"
        name="result"
        value="0"
      />
    </div>
    <div class="buttons">
      <div class="buttons__row-container">
        <div class="buttons__numbers">
          <div class="buttons__row buttons__row--first">
            <button class="buttons__button buttons__button--bigger">C</button>
            <button class="buttons__button">0</button>
            <button class="buttons__button buttons__button--bigger">BS</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button">1</button>
            <button class="buttons__button">2</button>
            <button class="buttons__button">3</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button">4</button>
            <button class="buttons__button">5</button>
            <button class="buttons__button">6</button>
          </div>
          <div class="buttons__row">
            <button class="buttons__button">7</button>
            <button class="buttons__button">8</button>
            <button class="buttons__button">9</button>
          </div>
        </div>
        <div class="buttons__column">
          <button class="buttons__button">/</button>
          <button class="buttons__button">*</button>
          <button class="buttons__button">+</button>
          <button class="buttons__button">-</button>
        </div>
      </div>
      <button class="buttons__button">=</button>
    </div>
  </form>
  <span class="container__copyright"> Copyright © feito por mim ❤️</span>
</div>
